{{define "title"}}
FOODS ALL THE FOODS
{{end}}
{{define "main"}}
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Home - MealPlanner</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>Mealplanner</a></h1>
        </header>
	<p>WE ARE FOODS</p>
        <main>
	    {{if .Foods}}
	    <p>This is hitting</p>
	    <table>
		{{range .Foods}}
		<tr>
		    <!--Range over calendar and then range of meals -->
		    <td> {{ . }} </td>
		</tr>
		{{end}}
	    </table>
	    {{else}}
	    <p>There's nothing to see here yet!</p>
	    {{end}}
        </main>
        <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
    </body>
</html>
{{end}}
